:root {
  --color-background: #f1f1f1;
  --color-bg-block: #ffffff;
  --color-text: #000;
  --color-active-table: #dbdbdb;
  --color-active-text-table: #000000;
  --fill: #000;
  --stroke: #000;

  --line: #b3b3b3;
  --red: #ff0000;
  --bg-footer: #c3fadc;
}

.dark-mode body {
  --color-background: #222222;
  --color-bg-block: #000000;
  --color-text: #ffffff;
  --color-active-table: #535353;
  --color-active-text-table: #ffffff;
  --fill: #ffffff;
  --stroke: #ffffff;

  --bg-footer: #167c3d;
}

@font-face {
  font-family: 'monplesir';
  src: url('../fonts/monplesir.woff2') format('woff2'),
    url('../fonts/monplesir.woff2') format('woff'),
    url('../fonts/monplesir.otf') format('opentype'),
    url('../fonts/monplesir.ttf') format('opentype');
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  background-color: var(--color-background);
  color: var(--color-text);
}

svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  ..border: 1px solid var(--line);
}

svg path {
  fill: var(--fill);
  stroke: var(--stroke);
}