* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60px;
    color: #fff;
    background-color: cornflowerblue;
}

h1 {
    font-size: 2em;

}

main {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    width: 100vw;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.5em;
}

a {
    color: black;
    text-decoration: none;
}