header {
  position: relative;
  height: 60px;
  z-index: 1;
}

.menu_icon_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: 60px;
  padding: 0 15px;
  gap: 15px;
  background-color: var(--color-bg-block);
}

.menu_icon {}

.menu_icon svg {

}

.menu_text {
  flex: 1;
  line-height: 1.2;
}

.menu_text h1 {
  font-size: 1.8em;
  font-weight: bold;
}

.menu_text p {
  font-size: 1.5em;
}

.menu_icon_loc {
  gap: 5px;
}

.menu_icon_loc svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
}